@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

select {
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

* {
  box-sizing: border-box;
  min-width: 0;
}
.react-datepicker-wrapper {
    display: block;
    padding: 0;
    border: 0;
}